<div class="jumbotron">
  <h1 class="display-4"><%= t('welcome') %></h1>
  <p class="lead"><%= t('messages.welcome') %></p>
  <hr class="my-4">
  <p><%= t('messages.menu') %></p>
  <p class="lead">
    <%= render "menu" %>
  </p>
</div>


<!--Area de testes----------------------------->
<br><br><br>

<p class="anotation">O idioma usado nessa aplicação é: <b><%= t('actual_locale') %></b></p>
<p class="anotation">Palavra 1: <b><%= t('hello') %></b></p>
<p class="anotation"> Data: <b><%= l(Date.today) %></b></p>


<p class="anotation">
  <%= @parametro_url %>
</p>

<p class="anotation"> A soma é: <b><%= 1 + 1 %></b></p>
<p class="anotation"> Seu nome de tráz para frente é: <b><%= "Kleber".reverse %></b></p>

<% a = "variavel a" %>
<p class="anotation">Imprimindo: <b><%= a %></b></p>


<p class="anotation">Você está em ambiente de: <strong><%= ambiente_rails %></strong></p>

<p class="anotation"><b><%= @var_sessao %></b></p>

<!---------------------------------------------------->