<div class="jumbotron">
  <h1 class="display-4">Seja bem vindo!</h1>
  <p class="lead">Esté é o Crypto Wallet, uma app para você cadastrar e acompanhar as suas crypto moedas.</p>
  <hr class="my-4">
  <p>Para começar selecione uma das opções abaixo</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Moedas</a>
    <a class="btn btn-primary btn-lg" href="#" role="button">Tipos de Mineração</a>
  </p>
</div>

<p>
<ul>
  <li><%#= link_to('Idioma Português', '/?locale=pt-BR') %><%= link_to 'Idioma Português', root_path(locale: 'pt-BR') %></li>
  <li><%= link_to('Idioma English', root_path(locale: 'en')) %></li>

</ul>
</p>

<legend><h1>Seja bem vindo!</h1></legend>

<p>O idioma usado nessa aplicação é: <b><%= t('actual_locale') %></b></p>
<p>Palavra 1: <b><%= t('hello') %></b></p>
<p> Data: <b><%= l(Date.today) %></b></p>

<p>
  <%= @parametro_url %>
</p>

<%= render "menu" %>

<p> A soma é: <b><%= 1 + 1 %></b></p>
<p> Seu nome de tráz para frente é: <b><%= "Kleber".reverse %></b></p>

<% a = "variavel a" %>
<p>Imprimindo: <b><%= a %></b></p>


<p>
  Você está em ambiente de: <strong><%= ambiente_rails %></strong>
</p>

<p><b><%= @var_sessao %></b></p>