<!DOCTYPE html>
<html>
<head>
  <title>CryptoWallet</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>


<h1 class="text_violeta">Cabeçalho privado</h1>

<fieldset>
  <%= yield %>
</fieldset>

<h1 class="text_violeta">Rodapé privado</h1>

</html>
