<!DOCTYPE html>
<html>
<head>
  <title>CryptoWallet</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!--  import CSS-->
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag params[:controller], media: 'all', 'data-turbolinks-track': 'reload' %>

  <!--  import JavaScript-->
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag params[:controller], 'data-turbolinks-track': 'reload' %>
</head>

<!--menu-->
<ul class="nav justify-content-end">
  <li class="nav-item">
    <%= link_to('Home', root_path, class: 'nav-link') %>
  </li>
  <li class="nav-item">
    <%= link_to('Português', root_path(locale: 'pt-BR'), class: 'nav-link') %>
  </li>
  <li class="nav-item">
    <%= link_to('English', root_path(locale: 'en'), class: 'nav-link') %>
  </li>
</ul>

<!--<h1 class="cabecalho_azul">Cabeçalho privado - <%#= params[:controller] %></h1>-->

<div class="container-fluid">
  <%= yield %>
</div>

<!--<h1 class="cabecalho_azul">Rodapé privado</h1>-->

</html>
